.hous{
    background-image: url('../images/hou1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

* {
    box-sizing: border-box; 
}

#hpage{    
    background-color: #c2a5af;
    margin: 0px;
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, arial, sans-serif;
}
.header{
    background-color: #2d3177;
    padding: 10px;
    height:40px; 
}

.left{
    float: left;
}

.left::after{
	content: "";
	clear: both;
	display: table;
}

.left>a{    
    text-decoration: none;
    color: #fff;
}

.right{
    float: right;    
}

.right::after{
	content: "";
	clear: both;
	display: table;
}

.right>a{    
    text-decoration: none;
    color: #fff;
}

.menu1{
    width: 4vw;
}

.menu2{
    width: 12vw;
}

.details{
    background-image: radial-gradient(circle, moccasin,
     khaki, lightsalmon);
    background-color: #edd0c0;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tail{   
    color: #e12f36;
    font-size: 50px;
    font-style: normal;
}

.tail2{
    color: #e12f36;
    font-size: 20px;
    font-style: italic;;
}

.nav{
    height: 100px;
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1{
    background-color: #2d3177;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    line-height: 1.6;
}

.nav1>a{
    text-decoration: none;
    font-size: 25px;
    height: inherit;
    display: block;
    color: white; 
    text-align: center;
    width: 20vw;
}

.bars{
    height: 380px;
    background-image: radial-gradient(circle, moccasin, khaki, lightsalmon); 
     display: flex;
    justify-content: center;
    align-items: center;
    
}

.bars1{
    border: 1px solid #2d3177;
    height: 200px;
    width: 20vw;
    padding: 30px;
    margin-right: 100px;
}

.bars1>a{
    text-decoration: none;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    height: inherit;
    display: block;
    color: #2d3177;
}

.bars2{
    border: 1px solid #2d3177;
    height: 200px;
    width: 20vw;
    padding: 30px;
    margin-left: 100px;
}

.bars2>a{
    text-decoration: none;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    height: inherit;
    display: block;
    color: #2d3177;
}

.con1{
    background-color: #fff;
}

.con2{
    text-align: center;
    padding: 40px;
    font-style: italic;
    font-size: 50px;
}

.con3{
    text-align: center;
    padding: 20px;
}

.con3>a{
    color: #39a156;
    font-weight: bold;
}

.con4{
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.colorit{
    height: 300px;
    background-image: linear-gradient(to top left, moccasin, khaki, lightsalmon);
}

.gallery{
    margin: 60px;
    float: left;
    width: 200px;
    padding: 10px;
    text-align: center;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 10px;
  text-align: center;
}

.gal{
    margin: 10px;
    width: 300px;
    padding: 10px;
    height: auto;
}

.pan{
    background-color: #000;
}

.pan1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.pan1>img{
    height: 400px;
    max-width: 90vw;
}

.for1{
    height: inherit;
    width: 100%;
}

.for2{
    background-color: #dcd8d9;
    width: 85%;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.for3{
    display: flex;
    flex-flow: row nowrap;
    width: 83%;    
    padding: 5px;
    border: 1px solid #e1dbdb;
    background-color: #e1dbdb;
    height: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
/*    margin-left: auto;
    margin-right: auto;*/
}

.for4{
    height: 100%;
    flex: 1 2 55%;
    min-width: 0px;
}

.for5{
    display: inline-block;
    padding: 5px;
    flex: 1 1 45%;
    min-width: 0px;
    height: fit-content;
}

.for5> *{
    color: #635d5d;
}

p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #635d5d;
}

.hhh{
    border: 1px solid white;
    border-radius: 6px;
    width: 300px;
    height: 35px;
    margin-top: 12px;
}

.btn{
    width: 300px;
    margin-top: 18px;
    background-color: #88bf6b;
    height: 35px;
    border: 1px solid #88bf6b;
    color: white;
    border-radius: 6px;
}

::placeholder {
  color: #e8a2a2;
  font-size: 1.2em;
  font-style: italic;
}

@media only screen and (max-width: 760px) {
    .for3{
        flex-direction: column;
    }
    .for4{
        flex: 1 3 80%;
        height: auto;
        min-width: 0;
    }
    
    .for5{
        flex: 1 1 100%;
        min-width: 0;
    }
    .hhh, .btn{
        width: 80vw;
    }
    
    .left, .right {
        float: none;
        display: inline-block;
    }
    
    .menu1{
        width: fit-content;
    }
    .menu2{
        width: fit-content;
    }
    body{
        height: fit-content;
    }
}